@media (max-width: 576px) {
    .footer {
        display: block;
        width: 70vw;
        margin: 0 auto 30px auto;
    }

    .module {
        width: 100%;
    }

    .module-a {
        height: 250vw;
    }

    .logo {
        left: 50%;
        transform: translateX(-50%);
    }

    .logo a {
        width: 80vw;
        height:auto;
    }

    .logo a img {
        width: 80vw;
        height: auto;
    }

    .post {
        top: 80vw;
        width: 75vw;
        left: 13vw;
        height: auto;
    }

    .module-a-1 {
        left: 9vw;
        font-size: 7vw;
        top: 41.5vw
    }

    .module-a-2 {
        font-size: 7vw;
        left: 42vw;
        top:171vw;
    }

    .pic-2 {
        width: 12.5vw;
        height: 12.5vw;
        left: 13vw;
        top: 185vw;
    }

    .join-btn-1 {
        top: 221vw;
        left: 15vw;
        width: 72vw;
        height: auto;
        bottom: initial;
    }

    .module-b {
        padding: 11vw 10vw;
    }

    .module-inner {
        flex-direction: column;
    }

    .module-inner-left-des {
        width: 100%;
        font-size: 3vw;
    }

    .module-inner-left-title {
        width: auto;
        font-size: 5vw;
    }

    .scroll-box {
        width: auto;
        height: 424px;
        padding: 63px 44px 0 45px;
    }

    .scroll-box-inner {
        font-size: 3vw;
    }

    .module-c {
        padding: 12vw 10vw;
    }

    .module-c-icon {
        width: 25vw;
        height: 25vw;
        margin-bottom: 46px;
    }

    .module-c-title {
        font-size: 8vw;
    }

    .module-c-inner {
        flex-flow: column wrap;
    }

    .module-c-inner-left {
        display: flex;
        flex-flow: row wrap;
        width: auto;
        flex: initial;
    }

    .module-c-inner-left .item {
        width: 50%;
    }

    .module-c-inner-left .item .main {
        font-size: 10vw;
    }

    .module-c-inner-left .item .sub {
        font-size: 6vw;
    }

    .module-c-inner-right {
        width: auto;
        flex-flow: column wrap;
    }

    .module-c-inner-right .item {
        border: 0!important;
        border-top: 3px solid #fff!important;
        width: auto;
        padding: 0!important;
        padding-top: 5vw!important;
        padding-bottom: 17vw!important;
    }

    .module-c-inner-right .item .main{
        font-size: 5vw;
    }

    .module-c-inner-right .item .sub{
        font-size: 3vw;
    }

    .module-d {
        padding: 0 15vw 15vw 15vw;
    }

    .module-d-title {
        font-size: 5.2vw;
        margin-bottom: 0;
    }

    .module-d-links {
        margin-top: 0;

    }

    .module-d-links a {
        margin-top: 10vw;
    }

    .module-d-links a img {
        width: 54.6vw;
        height: 54.6vw;
    }

    .module-e {
        padding: 18vw 10vw;
    }

    .module-e-icon {
        width: 26vw;
        height: 26vw;
    }

    .module-e-title {
        font-size: 7vw;
    }

    .module-e-inner .item{
        width: 50%;
    }

    .module-e-inner .item img {
        width: 34vw;
        height: 34vw;
    }

    .module-e-inner .item .name {
        font-size: 3vw;
    }

    .module-e-inner .item .des {
        font-size: 1.7vw;
        white-space: nowrap;
    }

    .module-f {
        padding: 17vw 10vw 15vw 10vw;
    }

    .module-f-title {
        font-size: 7vw;
        margin-bottom: 26px;
    }

    .module-f-title br{
        display: inline;
    }

    .module-f-des {
        font-size: 3vw;
    }

    .module-f-sub {
        flex-direction: column;
    }

    .module-f-sub .item {
        width: auto;
        font-size: 3vw;
    }

    .join-btn-2 {
        width: 72vw;
        height: auto;
        bottom: initial;
    }

    .module-g {
        padding: 14vw 14vw;
    }

    .module-g-title {
        font-size: 7vw;
        margin-bottom: 5vw
    }

    .module-g-des {
        font-size: 2vw;
    }

    .map-link-1{
        display: none;
    }

    .map-link-2 {
        display: block;
        border-radius: 25px;
        overflow: hidden;
        width: 74vw;
        height: 87vw;
    }

    .map-link-2 img {
        width: 100%;
        height: auto;
    }

    .module-h {
        padding: 14vw 10vw;
    }

    .module-h-title {
        font-size: 7vw;
        margin-bottom: 5vw;
        text-align: center;
    }

    .toggle-box .title{
      font-size: 2.4vw;
    }

    .toggle-box.active .title{
        margin-bottom: 3.4vw;
    }

    .toggle-box .text{
        font-size: 2vw;
    }

    .toggle-box svg{
        width: 3vw;
        height: 3vw;
    }

    .module-i-title {
        margin-bottom: 15vw;
        font-size: 7vw;
    }

    .module-i-links {
        flex-direction: column;
    }

    .module-i-links a {
        margin-bottom: 9vw;
    }

    .module-i-links a:nth-child(1) img {
        width: 55vw;
        height: auto;
    }

    .module-i-links a:nth-child(2) img {
        width: 30vw;
        height: auto;
    }

    .module-i-links a:nth-child(3) img {
        width: 48vw;
        height: auto;
    }

    .module-j-inner {
        flex-direction: column;
    }

    .module-j-inner .left {
        padding-left: 0;
        font-size: 2.4vw;
        margin-bottom: 18vw;
    }

    .module-j-inner .right img{
        width: 32vw;
        height: auto;
    }
}

@media (max-width: 376px) {
    .module-a-1, .module-a-2 {
        font-size: 28px;
    }

    .join-btn-1 {
        font-size: 24px;
        font-weight: 600;
    }

    .module-inner-left-title {
        font-size: 32px;
    }

    .module-inner-left-des {
        font-size: 20px;
        font-weight: 300;
    }

    .module-c-title {
        font-size: 36px;
    }

    .module-c-inner-left .item .main {
        font-size: 48px;
    }

    .module-c-inner-left .item .main {
        font-size: 48px;
    }

    .module-c-inner-left .item .sub {
        font-size: 24px;
    }

    .module-c-inner-right .item .main {
        font-size: 24px;
        font-weight: 700;
    }

    .module-c-inner-right .item .sub {
        font-size: 20px;
        font-weight: 300;
    }

    .module-d-title {
        font-size: 24px;
    }

    .module-d-title br.mobile {
        display: inline;
    }

    .module-d-links a {
        font-size: 24px;
    }

    .module-e-title {
        font-size: 36px;
    }

    .module-e-inner .item .name {
        font-size: 16px;
    }

    .module-e-inner .item .des {
        font-size: 14px;
    }

    .module-f-title {
        font-size: 36px;
    }

    .module-f-des {
        font-size: 18px;
    }

    .module-f-sub .item {
        font-size: 20px;
    }

    .module-g-title {
       font-size: 36px;
    }

    .toggle-box .title {
        font-size: 24px;
        display: flex;
        flex-flow: row nowrap;
        padding-left: 0!important;
        padding-bottom: 6px;
    }

    .toggle-box svg {
        min-width: 20px;
        height: 20px;
        margin-top: 8px;
        margin-right: 5px;
    }

    .toggle-box .text {
        font-size: 18px;
    }

    .module-i-title {
        font-size: 36px;
    }

    .logo {
        top: 40px;
    }

    .module {
        padding-left: 28px!important;
        padding-right: 28px!important;
        box-sizing: border-box;
    }

    .map-link-2 {
        width: auto;
        height: auto;
    }
}
