@media (max-width: 576px) {
    .module {
        width: 100%;
    }

    .module-a {
        height: 250vw;
    }

    .logo {
        left: 50%;
        transform: translateX(-50%);
    }

    .logo a {
        width: 80vw;
        height:auto;
    }

    .logo a img {
        width: 80vw;
        height: auto;
    }

    .post {
        top: 80vw;
        width: 75vw;
        left: 13vw;
        height: auto;
    }

    .module-a-1 {
        left: 9vw;
        font-size: 7vw;
        top: 41.5vw
    }

    .module-a-2 {
        font-size: 7vw;
        left: 42vw;
        top:171vw;
    }

    .pic-2 {
        width: 12.5vw;
        height: 12.5vw;
        left: 13vw;
        top: 185vw;
    }

    .join-btn-1 {
        top: 221vw;
        left: 15vw;
        width: 72vw;
        height: auto;
        bottom: initial;
    }

    .module-b {
        padding: 11vw 10vw;
    }

    .module-inner {
        flex-direction: column;
    }

    .module-inner-left-des {
        width: 100%;
        font-size: 4vw;
    }

    .module-inner-left-title {
        width: auto;
        font-size: 6vw;
    }

    .scroll-box {
        width: auto;
        height: 424px;
        padding: 63px 44px 0 45px;
    }

    .scroll-box-inner {
        font-size: 4vw;
    }

    .module-c {
        padding: 12vw 10vw;
    }

    .module-c-icon {
        width: 25vw;
        height: 25vw;
        margin-bottom: 46px;
    }

    .module-c-title {
        font-size: 9vw;
    }

    .module-c-inner {
        flex-flow: column wrap;
    }

    .module-c-inner-left {
        display: flex;
        flex-flow: row wrap;
        width: auto;
        flex: initial;
    }

    .module-c-inner-left .item {
        width: 50%;
    }

    .module-c-inner-left .item .main {
        font-size: 11vw;
    }

    .module-c-inner-left .item .sub {
        font-size: 7vw;
    }

    .module-c-inner-right {
        width: auto;
        flex-flow: column wrap;
    }

    .module-c-inner-right .item {
        border: 0!important;
        border-top: 3px solid #fff!important;
        width: auto;
        padding: 0!important;
        padding-top: 5vw!important;
        padding-bottom: 17vw!important;
    }

    .module-c-inner-right .item .main{
        font-size: 6vw;
    }

    .module-c-inner-right .item .sub{
        font-size: 4vw;
    }

    .module-d {
        padding: 0 15vw 15vw 15vw;
    }

    .module-d-title {
        font-size: 6.2vw;
        margin-bottom: 0;
    }

    .module-d-links {
        margin-top: 0;

    }

    .module-d-links a {
        margin-top: 10vw;
    }

    .module-d-links a img {
        width: 54.6vw;
        height: 54.6vw;
    }

    .module-e {
        padding: 18vw 10vw;
    }

    .module-e-icon {
        width: 26vw;
        height: 26vw;
    }

    .module-e-title {
        font-size: 8vw;
    }

    .module-e-inner .item{
        width: 50%;
    }

    .module-e-inner .item img {
        width: 34vw;
        height: 34vw;
    }

    .module-e-inner .item .name {
        font-size: 4vw;
    }

    .module-e-inner .item .des {
        font-size: 2.7vw;
    }

    .module-f {
        padding: 17vw 10vw 15vw 10vw;
    }

    .module-f-title {
        font-size: 8vw;
        margin-bottom: 26px;
    }

    .module-f-title br{
        display: inline;
    }

    .module-f-des {
        font-size: 4vw;
    }

    .module-f-sub {
        flex-direction: column;
    }

    .module-f-sub .item {
        width: auto;
        font-size: 4vw;
    }

    .join-btn-2 {
        width: 72vw;
        height: auto;
        bottom: initial;
    }
}
